<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Process Details</h4>
        <p></p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="col-md-12">
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Name</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processName}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Owner</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processOwner}}
                  </p>
                </div>
              </div>
            </div>
            <hr /> 
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Objective</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processObjective}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Description</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processDescription}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Input</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processInput}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Output</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processOutput}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Customers</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processCustomer}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Success Measures KPI</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <p>
                    {{process.processKpi}}
                  </p>
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->
            <!--   one row -->
            <div class="row">
              <div class="col-md-2 ml-4">
                <div class="">
                  <h5>Process Image</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="">
                  <img
                    src="/assets/img/process imges.jpg"
                    style="height: 400px; width: 750px; padding: 15px"
                  />
                </div>
              </div>
            </div>
            <hr />
            <!--   one row -->

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">
                    <button
                      mat-raised-button
                      type="submit"
                      class="btn btn-primary pull-right" routerLink="../notifications"
                    >
                      Show Process Task
                    </button>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
