<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Departments Informations</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Department Name</th>
                  <th>Department Section</th>
                  <th>Number of Processes</th>
                </thead>
                <tbody>
                  <tr *ngFor = "let department of departments ">
                    <td>{{department.id}}</td>
                    <td>{{department.dptName}}</td>
                    <td>{{department.dptSection}}</td>
                    <td>{{department.numProcesses}}</td>
                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

