<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assessment</i>
            </div>
            <p class="card-category">Received For Review</p>
            <h3 class="card-title">{{ number }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-warning">warning</i>
              <a href="javascript:void(0)">To Review</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">speaker_notes</i>
            </div>
            <p class="card-category">Processes That needs Update</p>
            <h3 class="card-title">{{ updateCount }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> To be apprved
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">verified_user</i>
            </div>
            <p class="card-category">Strategy Approve</p>
            <h3 class="card-title">{{ stApprovedCount }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">verified_user</i> To be Approved by GM
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">verified_user</i>
            </div>
            <p class="card-category">GM Approve</p>
            <h3 class="card-title">{{ gmApprovedCount }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">verified_user</i> Approved
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
   
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">speaker_notes</i>
            </div>
            <p class="card-category">Processes has been updated</p>
            <h3 class="card-title">{{ updateApprovedCount }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> To be Review and Approved by IC
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">verified_user</i>
            </div>
            <p class="card-category">Internal Control Approve</p>
            <h3 class="card-title">{{ icApprovedCount }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">verified_user</i> To be Approved by Stratefy
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Departments Strategy Approved</h4>
            <p class="card-category">Chart to show Compare chart for all the processes that has been approved by ST</p>
          </div>
<!--           <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div> -->
        </div> 
      </div>
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="IcApprovedViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Departments IC Approved</h4>
            <p class="card-category">Chart to show Compare chart for all the processes that has been approved by IC</p>
          </div>
        </div>
      </div>
  
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="GmApprovedViewsChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Departments GM Approved</h4>
            <p class="card-category">Chart to show Compare chart for all the processes that has been approved by GM</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Departments Informations</h4>
            <p class="card-category">for 2023</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
                <!--  <th>ID</th> -->
                <th>Department Name</th>
                <th>For Review</th>
               <!--  <th>Final Approved</th> -->
              </thead>
              <tbody>
                <tr *ngFor="let review of review">
                  <td>{{ review.department }}</td>
                  <td>{{ review.count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-6">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Departments Informations</h4>
            <p class="card-category">for 2023</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
                <!--  <th>ID</th> -->
                <th>Department Name</th>
                <th>For Update Approve</th>
               <!--  <th>Final Approved</th> -->
              </thead>
              <tbody>
                <tr *ngFor="let updateApprove of updateApprove">
                  <td>{{ updateApprove.department }}</td>
                  <td>{{ updateApprove.count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Departments Informations</h4>
            <p class="card-category">for 2023</p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
                <!--  <th>ID</th> -->
                <th>Department Name</th>
                <th>For Update</th>
               <!--  <th>Final Approved</th> -->
              </thead>
              <tbody>
                <tr *ngFor="let update of update">
                  <td>{{ update.department }}</td>
                  <td>{{ update.count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
