<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Processes Overview</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Process Name</th>
                  <th>Department</th>
                  <th>Section</th>
                  <th>Tasks</th>
                  <th>Status</th>
                  <th>Details</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Dakota Rice</td>
                    <td>Niger</td>
                    <td>Oud-Turnhout</td>
                    <td>
                    <a routerLink="../maps" class="btn btn-sm btn-round btn-fill btn-primary">Add</a>
                    </td>
                    <td>For Reviwed</td>
               
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../typography">View</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../upgrade">Flow Chart</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../icons">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                                
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>
                    <a routerLink="../maps" class="btn btn-sm btn-round btn-fill btn-primary">Add</a>
                  </td>
                    <td>For GM Approve</td>
                    
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../typography">View</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../upgrade">Flow Chart</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../icons">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                                
                            </div>
                        </div>
                    </td>

                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sage Rodriguez</td>
                    <td>Netherlands</td>
                    <td>Baileux</td>
                    <td>
                    <a routerLink="../maps" class="btn btn-sm btn-round btn-fill btn-primary">Add</a>
                  </td>
                    <td>For Strategy Approve</td>
                    
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../typography">View</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../upgrade">Flow Chart</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../icons">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                                
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Philip Chaney</td>
                    <td>Korea, South</td>
                    <td>Overland Park</td>
                    <td>
                    <a routerLink="../maps" class="btn btn-sm btn-round btn-fill btn-primary">Add</a>
                    </td>
                    <td>Completed</td>
                    
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../typography">View</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../upgrade">Flow Chart</a>
                                <a class="dropdown-item" href="javascript:void(0)" routerLink="../icons">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                               
                            </div>
                        </div>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

