<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Tasks Overview</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Task Number</th>
                  <th>Task Name</th>
                  <th>Task Owner</th>
                  <th>Task Description/SOP</th>
                  <th>WLA/SLA</th>
                  <th>Manage</th>
                </thead>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>Minerva Hooper</td>
                        <td>Curaçao</td>
                        <td>Sinaai-Waas</td>
                        <td>Sinaai-Waas</td>
                        <td>
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">settings</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
    
                                    <a class="dropdown-item" href="javascript:void(0)" routerLink="../modify-task">Modify Task</a>
                                    <a class="dropdown-item" href="javascript:void(0)">Delete Task</a>
                                </div>
                            </div>
                        </td>
    
                      </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>Sinaai-Waas</td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="javascript:void(0)">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>Sinaai-Waas</td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="javascript:void(0)">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>Sinaai-Waas</td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="javascript:void(0)">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>Sinaai-Waas</td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="javascript:void(0)">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Minerva Hooper</td>
                    <td>Curaçao</td>
                    <td>Sinaai-Waas</td>
                    <td>Sinaai-Waas</td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                <a class="dropdown-item" href="javascript:void(0)">Modify Process</a>
                                <a class="dropdown-item" href="javascript:void(0)">Delete Process</a>
                            </div>
                        </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

